@charset "UTF-8";

@font-face {
    font-family: 'Digital';
    src: url(DS-DIGI.TTF);
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #373740;
}

main {
    position: relative;
    width: 85%;
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: #0F31F2;

    border-radius: 10px;

    padding: 0px 20px 20px;

    box-shadow: 1px 1px ;
}

#visor {

    font-family: 'Digital', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;

    width: 80%;
    height: 30%;

    background-image: linear-gradient(to bottom, #3d8df5, #1f53ee);

    border: 1px solid grey;
    border-radius: 10px;
}

#visor-ponto-batido, #visor-descanso {
    gap: 5px;
    position: relative;
}

#visor  img {
    width: 150px;
    position: absolute;

    top: calc(35%);
    left: calc(10%);
}

#visor-descanso img {
    width: 190px;
    position: absolute;

    top: calc(0%);
    left: calc(5%);
}

#visor  p {
    text-align: center;
}

#visor-ponto-batido p {
    color: rgb(107, 2, 2);
}

#visor-descanso p {
    color: rgb(5, 75, 5);
}

.hide{
    display: none;
}






button {

    background-color: #494D59;
    color: white;

    border-radius: 10px;
    padding: 10px;

    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.63);

    font-size: large;
}

#btnVoltar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #222129;
}

#btnExport {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #222129;
    padding: 5px;
    font-size: 15px;

}

#btnImport {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #222129;
    padding: 5px;
    font-size: 15px;
}

#registros {
    text-align: center;
    overflow: auto;

    font-size: 20px;
    font-weight: bolder;
    padding: 5px;

    height: 65%;
    width: 100%;


    background-image: linear-gradient(to bottom, #3d8df5, #1f53ee);

    border: 1px solid grey;
    border-radius: 10px;
}

#registros p {
    background-image: linear-gradient(to bottom, #3d8df5, #1f53ee);
    margin-bottom: 5px;
    padding: 5px;
}

#resumo {
    background-color: #1f53ee;
    color: white;
    font-size: 20px;

    padding: 5px;

    text-align: center;
    border-radius: 10px;

    box-shadow: 1px 1px 10px 5px  rgba(0, 0, 0, 0.658);
}

/* Página de lançamentos manuais */

.containerEntradaExistente {
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 10px 5px  rgba(0, 0, 0, 0.658);

    display: flex;
    flex-direction: column;

    gap: 20px;
}

#inputParaConsulta {
    font-size: 20px;
    color: white;

}

#idDoRegistro {
    
    width: 20%;
    height: 40px;
    font-size: 20px;

    padding: 5px;
}

#registroCarregado {
    border-radius: 10px;
    text-align: center;
    background-color: #032a5e;
    padding: 10px;
}

.containerEntradaExistente button {
    margin: 10px;
}